@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Staatliches&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.rojo {
  background-color: #DA1212; }

.logo {
  height: 50px;
  width: 50px; }

h6 {
  display: none; }

.navBar ul li {
  list-style: none; }
  .navBar ul li .navbar-texto {
    font-size: 15px;
    font-family: "Staatliches", cursive; }

.nav-link.active {
  color: white !important; }
  .nav-link.active:hover {
    background-color: #aa0f0f; }
  .nav-link.active:active {
    color: black !important; }

.navbar-light .navbar-toggler-icon {
  background-image: url("../assets/hamburger.svg"); }

.navbar-toggler {
  padding: 0.25rem 0.75rem; }

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none; }

.navbar-light .navbar-toggler {
  border-color: black; }

@media (min-width: 992px) {
  .logo {
    height: 150px;
    width: 150px; }
  .navbar-texto {
    display: flex;
    flex-direction: column;
    align-items: center; }
  h6 {
    display: flex;
    color: white;
    font-size: "Staatliches", cursive; }
  .flex {
    display: flex;
    align-items: center;
    justify-content: center; } }

.gridIndex {
  grid-template-areas: "header" "main" "footer"; }

header {
  grid-area: header; }

main {
  grid-area: main; }

footer {
  grid-area: footer; }

.contenedorIndex {
  grid-template-areas: "introduccion" "video" "publicidadTexto" "publicidad"; }
  @media (min-width: 992px) {
    .contenedorIndex {
      display: grid;
      grid-template-columns: 80% 20%;
      grid-template-areas: "introduccion    liveTwitter" "video           liveTwitter"; } }

.introduccion {
  grid-area: introduccion; }

.video {
  grid-area: video; }

.publicidadTexto {
  grid-area: publicidadTexto; }

.publicidad {
  grid-area: publicidad; }

.liveTwitter {
  grid-area: liveTwitter; }

h1, h4 {
  text-align: center;
  font-size: 18px;
  font-family: "Staatliches", cursive;
  margin: 20px 40px 0px 40px;
  padding: 40px; }

p {
  font-family: "Source Sans Pro", sans-serif;
  padding: 15px;
  text-align: start;
  margin: 0px 20px 25px 20px;
  font-size: 15px; }

.videoIntro {
  margin-left: auto;
  margin-right: auto;
  border: 4px solid black;
  border-radius: 15px;
  display: block;
  margin-top: 37px;
  width: 320px; }

.liveTwitter {
  display: none; }

.publicidadTexto {
  text-align: center;
  margin-top: 100px;
  font-family: "Staatliches", cursive; }

.publicidad {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }
  .publicidad .iconoAside {
    height: 50px;
    width: 50px; }

@media (min-width: 768px) {
  p {
    font-size: 17px;
    margin: 0px 150px 20px 150px; }
  .videoIntro {
    margin-right: auto;
    margin-left: auto;
    border: 12px solid black;
    border-radius: 10px;
    display: block;
    margin-top: 37px;
    height: 280px;
    width: 570px; } }

@media (min-width: 992px) {
  h1, h4 {
    font-size: 22px; }
  p {
    font-size: 16px;
    margin: 0px 180px 20px 180px;
    text-indent: 20px; }
  .publicidad, .publicidadTexto, .pasarela {
    display: none; }
  .liveTwitter {
    display: flex;
    font-weight: bold;
    border-color: #b3b3b3;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin: 10px 5px; }
  .videoIntro {
    margin-right: auto;
    margin-left: auto;
    border: 16px solid black;
    border-radius: 15px;
    display: block;
    margin-top: 37px;
    height: 310px;
    width: 600px; } }

.contenedorPlantilla {
  display: grid;
  grid-template-areas: "introduccionPlantilla" "tabla" "canchaContenedor" "dtTitulo" "dtTexto" "dtFoto" "publicidadTexto" "publicidad"; }
  @media (min-width: 992px) {
    .contenedorPlantilla {
      grid-template-columns: 80% 20%;
      grid-template-areas: "introduccionPlantilla liveTwitter" "tabla                 liveTwitter" "canchaContenedor      liveTwitter" "dtTitulo              liveTwitter" "dtTexto               liveTwitter" "dtFoto                liveTwitter"; } }
  .contenedorPlantilla .dtFoto {
    margin-left: auto;
    margin-right: auto;
    max-width: 1050px !important; }

.introduccionPlantilla {
  grid-area: introduccionPlantilla; }

.tabla {
  grid-area: tabla; }

.canchaContenedor {
  grid-area: canchaContenedor; }

.dtTitulo {
  grid-area: dtTitulo; }

.dtTexto {
  grid-area: dtTexto; }

.dtFoto {
  grid-area: dtFoto; }

.texto {
  text-align: start; }

p {
  text-align: start;
  text-indent: 15px; }

.contenedorHistoria {
  grid-template-areas: "tituloHistoria" "textoHistoria1" "equipoOld1" "textoHistoria2" "equipoOld2" "textoHistoria3" "equipoOld3" "tituloEstadio" "textoEstadio" "estadio" "tituloTrofeos" "textoTrofeos" "trofeos" "publicidadTexto" "publicidad"; }
  @media (min-width: 992px) {
    .contenedorHistoria {
      display: grid;
      grid-template-columns: 50% 30% 20%;
      grid-template-areas: "tituloHistoria tituloHistoria liveTwitter" "textoHistoria1 equipoOld1     liveTwitter" "textoHistoria2 equipoOld2     liveTwitter" "textoHistoria3 equipoOld3     liveTwitter" "tituloEstadio  tituloEstadio  liveTwitter" "textoEstadio   textoEstadio   liveTwitter" "estadio        estadio        liveTwitter" "tituloTrofeos  tituloTrofeos  liveTwitter" "textoTrofeos   textoTrofeos   liveTwitter" "trofeos        trofeos        liveTwitter"; } }
  .contenedorHistoria .texto2 {
    margin: 0;
    text-align: start;
    display: flex;
    justify-content: center;
    align-items: center; }
  .contenedorHistoria .estadio {
    margin-left: auto;
    margin-right: auto;
    max-width: 1050px !important; }
  .contenedorHistoria .trofeos {
    margin-left: auto;
    margin-right: auto;
    max-width: 1050px !important; }

.tituloHistoria {
  grid-area: tituloHistoria; }

.textoHistoria1 {
  grid-area: textoHistoria1; }

.textoHistoria2 {
  grid-area: textoHistoria2; }

.textoHistoria3 {
  grid-area: textoHistoria3; }

.equipoOld1 {
  grid-area: equipoOld1; }

.equipoOld2 {
  grid-area: equipoOld2; }

.equipoOld3 {
  grid-area: equipoOld3; }

.tituloEstadio {
  grid-area: tituloEstadio; }

.textoEstadio {
  grid-area: textoEstadio; }

.estadio {
  grid-area: estadio; }

.tituloTrofeos {
  grid-area: tituloTrofeos; }

.textoTrofeos {
  grid-area: textoTrofeos; }

.trofeos {
  grid-area: trofeos; }

.equipoOld1 {
  margin: 20px 0 20px 0; }

.equipoOld2 {
  margin: 20px 0 20px 0; }

.equipoOld3 {
  margin: 20px 0 20px 0; }

.contenedorHof {
  grid-template-areas: "tituloHof" "textoHof" "tituloJugados" "tablaJugados" "tituloGol" "tablaGol" "tituloFerguson" "textoFerguson" "fotoFerguson" "publicidadTexto" "publicidad"; }
  @media (min-width: 992px) {
    .contenedorHof {
      display: grid;
      grid-template-columns: 80% 20%;
      grid-template-areas: "tituloHof      liveTwitter" "textoHof       liveTwitter" "tituloJugados  liveTwitter" "tablaJugados   liveTwitter" "tituloGol      liveTwitter" "tablaGol       liveTwitter" "tituloFerguson liveTwitter" "textoFerguson  liveTwitter" "fotoFerguson   liveTwitter"; } }

.tituloHof {
  grid-area: tituloHof; }

.textoHof {
  grid-area: textoHof; }

.tituloJugados {
  grid-area: tituloJugados; }

.tablaJugados {
  grid-area: tablaJugados; }

.tituloGol {
  grid-area: tituloGol; }

.tablaGol {
  grid-area: tablaGol; }

.tituloFerguson {
  grid-area: tituloFerguson; }

.textoFerguson {
  grid-area: textoFerguson; }

.fotoFerguson {
  grid-area: fotoFerguson; }

h5 {
  padding: 15px;
  text-align: center;
  margin: 0;
  font-size: 20px;
  font-family: "Staatliches", cursive; }

table {
  margin: 0 5px 0 5px; }

table tr td {
  font-size: 11px; }

@media (min-width: 768px) {
  table {
    margin: 0 50px 0 50px; }
  table tr td {
    font-size: 15px; } }

@media (min-width: 992px) {
  h5 {
    margin-top: 50px; }
  table {
    margin: 0 100px 0 100px; }
  .fotoFerguson {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px !important; }
  .textoFerguson {
    text-align: start; } }

.contenedorContactanos {
  grid-template-areas: "tituloContactanos" "textoContactanos" "formulario" "publicidadTexto" "publicidad"; }
  @media (min-width: 992px) {
    .contenedorContactanos {
      display: grid;
      grid-template-columns: 80% 20%;
      grid-template-areas: "tituloContactanos liveTwitter" "textoContactanos  liveTwitter" "formulario        liveTwitter"; } }

.tituloContactanos {
  grid-area: tituloContactanos; }

.textoContactanos {
  grid-area: textoContactanos; }

.formulario {
  grid-area: formulario; }

form {
  padding: 10px;
  background: #EEEEEE;
  border-radius: 10px;
  max-width: 320px;
  margin: 15px;
  margin-right: auto;
  margin-left: auto;
  border-color: #b3b3b3;
  border-style: solid;
  border-width: 1px; }

textarea {
  width: 300px;
  height: 200px;
  font-weight: bold;
  font-size: 15px;
  padding: 10px; }
  textarea label {
    font-size: 25px;
    font-family: "Staatliches", cursive; }
    textarea label input {
      margin: 5px;
      padding: 10px 10px;
      height: 32px;
      font-size: 20px;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: bold; }

.formularioNombre {
  width: 80%; }

.formularioEdad {
  width: 30%; }

.formularioEmail {
  width: 80%; }

.boton {
  padding: 5px; }

@media (min-width: 768px) {
  form {
    max-width: 600px; }
  textarea {
    width: 575px; } }

@media (min-width: 992px) {
  form {
    max-width: 625px; }
  textarea {
    width: 600px;
    height: 200px; }
  .formularioEmail {
    width: 80%; }
  .formularioNombre {
    width: 80%; }
  .formularioEdad {
    width: 70px; } }

footer {
  background-color: #1B2430;
  margin-top: 50px;
  height: 70px; }
  footer h3 {
    display: none; }
  footer .iconoSponsor {
    display: none; }
  footer .iconRedes {
    width: 50px;
    padding: 5px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px; }
    footer .iconRedes:hover {
      background-color: #181e27; }
  footer .redesSociales {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    height: 60px;
    margin: 5px; }

@media (min-width: 992px) {
  footer {
    margin-top: 100px;
    height: 90px; }
    footer h3 {
      display: flex;
      color: white;
      font-family: "Staatliches", cursive;
      font-size: 20px;
      text-align: center; }
    footer .nombreFooter {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid black;
      border-radius: 10px;
      padding: 15px;
      font-size: 15px; }
    footer .iconoSponsor {
      display: flex;
      width: 50px;
      margin: 0px 0px;
      height: 50px; }
    footer .sponsor {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding-top: 10px; }
    footer .iconRedes {
      margin: 20px; } }

.canchaContenedor {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .canchaContenedor .cancha {
    width: 280px;
    height: 280px; }

.color:hover {
  background-color: #da121246;
  padding: 5px; }

.jugadorPlantilla {
  margin-left: auto;
  margin-right: auto;
  width: 270px;
  height: 270px;
  margin-top: 10px; }

.camisetaPo {
  position: absolute;
  top: 213px;
  left: 113px;
  height: 45px; }

.camisetaLatIzq {
  position: absolute;
  top: 145px;
  left: 30px;
  height: 45px; }

.camisetaLatDer {
  position: absolute;
  top: 145px;
  left: 196px;
  height: 45px; }

.camisetaCenIzq {
  position: absolute;
  top: 163px;
  left: 73px;
  height: 45px; }

.camisetaCenDer {
  position: absolute;
  top: 163px;
  left: 152px;
  height: 45px; }

.camisetaMedDef {
  position: absolute;
  top: 117px;
  left: 113px;
  height: 45px; }

.camisetaMedIzq {
  position: absolute;
  top: 73px;
  left: 68px;
  height: 45px; }

.camisetaMedDer {
  position: absolute;
  top: 73px;
  left: 157px;
  height: 45px; }

.camisetaExtIzq {
  position: absolute;
  top: 32px;
  left: 49px;
  height: 45px; }

.camisetaExtDer {
  position: absolute;
  top: 32px;
  left: 178px;
  height: 45px; }

.camisetaDelCen {
  position: absolute;
  top: 4px;
  left: 113px;
  height: 45px; }

@media (min-width: 768px) {
  .jugadorPlantilla {
    width: 400px;
    height: 400px; } }

@media (min-width: 992px) {
  .canchaContenedor .cancha {
    width: 400px;
    height: 400px; }
  .camisetaPo {
    position: absolute;
    top: 311px;
    left: 168px;
    height: 55px; }
  .camisetaLatIzq {
    position: absolute;
    top: 212px;
    left: 55px;
    height: 55px; }
  .camisetaLatDer {
    position: absolute;
    top: 212px;
    left: 285px;
    height: 55px; }
  .camisetaCenIzq {
    position: absolute;
    top: 240px;
    left: 110px;
    height: 55px; }
  .camisetaCenDer {
    position: absolute;
    top: 240px;
    left: 225px;
    height: 55px; }
  .camisetaMedDef {
    position: absolute;
    top: 176px;
    left: 168px;
    height: 55px; }
  .camisetaMedIzq {
    position: absolute;
    top: 112px;
    left: 106px;
    height: 55px; }
  .camisetaMedDer {
    position: absolute;
    top: 112px;
    left: 229px;
    height: 55px; }
  .camisetaExtIzq {
    position: absolute;
    top: 52px;
    left: 78px;
    height: 55px; }
  .camisetaExtDer {
    position: absolute;
    top: 52px;
    left: 260px;
    height: 55px; }
  .camisetaDelCen {
    position: absolute;
    top: 12px;
    left: 168px;
    height: 55px; }
  .jugadorPlantilla {
    width: 450px;
    height: 450px; } }

.tabla {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px; }
  .tabla .datos {
    font-family: "Staatliches", cursive;
    font-size: 10px;
    line-height: 10px;
    text-align: center; }

.datos {
  background-color: #858585; }

table, tr, td {
  border: 1px solid black;
  border-collapse: collapse;
  border-spacing: 15px;
  padding: 5px; }
  table td, tr td, td td {
    font-family: "Staatliches", cursive;
    font-size: 13px;
    line-height: 15px;
    width: 150px;
    text-align: center; }
    table td a, tr td a, td td a {
      color: black;
      padding: 0px;
      font-size: 13px;
      text-decoration: none;
      font-family: "Staatliches", cursive; }
      table td a:hover, tr td a:hover, td td a:hover {
        color: #DA1212; }

@media (min-width: 768px) {
  .tabla {
    margin: 40px 40px 40px 40px; }
  table td, tr td, td td {
    font-size: 15px;
    line-height: 15px; }
    table td a, tr td a, td td a {
      font-size: 15px; } }

@media (min-width: 992px) {
  .tabla {
    margin-top: 50px; }
    .tabla td {
      font-family: "Staatliches", cursive;
      font-size: 18px;
      line-height: 25px;
      text-align: center; }
      .tabla td a {
        padding: 0px;
        font-size: 18px; } }

.pasarela {
  display: flex;
  justify-content: flex-start;
  overflow-y: hidden;
  overflow-x: scroll;
  scrollbar-color: #9d9d9d #e9e9e9;
  scrollbar-width: thin; }

.pasarela::-webkit-scrollbar {
  border-radius: 0.25rem; }

.publicidad .iconoAside {
  margin: 15px; }

@media (min-width: 768px) {
  .publicidad .iconoAside {
    margin: 20px; } }
