@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Staatliches&display=swap');

/* Tipografía
font-family: 'Staatliches', cursive; Titulos
font-family: 'Source Sans Pro', sans-serif; Textos
*/
/* colores 
rojo: #DA1212
gris: #1B2430
  
*/

/*Reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Grilla Index mobile*/

.gridIndex{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
}

header{
    grid-area: header;
}

footer{
    grid-area: footer;
}

.contenedorIndex{
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "introduccion"
    "video"
    "publicidadTexto"
    "publicidad"
    ;
}


.introduccion{
    grid-area: introduccion;
}

.video{
    grid-area: video;
}

.publicidadTexto{
    grid-area: publicidadTexto;
}

.publicidad{
    grid-area: publicidad;
}


/*HEADER*/
.rojo{
    background-color: #DA1212;
}

.navbar-texto{   
    font-family: 'Staatliches', cursive;
    font-size: 15px;
    color: white !important;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar-collapse {
    flex-basis: 0%;
    flex-grow: 1;
    align-items: center;
}

.navbar>.container-fluid{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: center;
}

a{
    color: white !important;
    font-family: 'Source Sans Pro', sans-serif;
}

ul li:hover{
    background-color: #aa0f0f;
}

ul li a:active{
    color: black !important;
}

.flex{
    display: flex;
    justify-content: center;
}

/*main*/

h1{
    color: black;
    padding: 40px;
    text-align: center;
    margin: 20px 40px 0px 40px;
    font-size: 30px;
    font-family: 'Staatliches', cursive;
}

p{
    font-family: 'Source Sans Pro', sans-serif;
    padding: 15px;
    text-align: center;
    margin: 0px 40px 70px 40px;
    font-size: 20px;
}

.videoIntro{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 15px;
    display: block;
    margin-top: 37px
}

.liveTwitter{
    display: none;
}

.publicidadTexto{
    text-align: center;
    margin-top: 100px;
    font-family: 'Staatliches', cursive;
}

.publicidad{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.iconoAside{
    height: 50px;
    width: 50px;
}


/*footer*/

footer{
    background-color: #1B2430;
    margin-top: 50px;
}

footer h3{ 
    display: none;
}

.nombreFooter{
    display: none;
}

.sponsor{
        display: flex;
        justify-content: center;
        height: 125px;
        align-items: center;
        padding-left: 5px;       
}

.iconoSponsor{
    display: none;
}

.redesSociales{
    display: flex;
    justify-content: flex-end;
    height: 10px;
    align-items: center;
    margin: 5px;
}

.iconRedes{
    width: 48px;
    padding: 5px;
    height: 46px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
}

.contenedorRedes img:hover{
    background-color: #0f141b;
}


/*Index 992px*/

@media (min-width: 992px){
    .contenedorIndex{
        grid-area: main;
        display: grid;
        grid-template-columns: 80% 20%;
        grid-template-areas: 
        "introduccion    liveTwitter"
        "video           liveTwitter"
        ;
    }

    .navbar-texto {
        text-align: center;
        font-family: 'Staatliches', cursive;
        font-size: 25px !important;
        color: white !important;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-left: 50px;
    }

    .logo{
        height: 150px;
        width: 150px !important;
    }



    .publicidad, .publicidadTexto{
        display: none;
    }

    .liveTwitter{
        grid-area: liveTwitter;
        display: flex;
        font-weight: bold;
        border-color: rgb(179, 179, 179);
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        margin: 10px 5px;
    }

    .navbar-texto{   
        text-align: center;
        font-family: 'Staatliches', cursive;
        font-size: 15px;
        color: white !important;
    }

    h1{
        margin-top: 50px;
    }

    p{
        margin: 0px 40px 0 40px;
    }

    .videoIntro{
        margin-left: auto;
        margin-right: auto;
        border: 16px solid black;
        border-radius: 15px;
        display: block;
        margin-top: 37px;
        height: 310px;
        width: 600px;
    }
    

    footer{
        background-color: #1B2430;
        margin-top: 50px;
    }

    html{
        max-width: 100%;
    }
    
    footer h3{
        display: flex;
        color: white;
        font-family: 'Staatliches', cursive;
        font-size: 20px;
        text-align: center;
    }
    
    .nombreFooter{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        border:1px solid black;
        border-radius: 10px;
        padding: 15px;
        font-size: 26px;
    }
       
    .iconoSponsor{
        display: flex;
        width: 60px;
        margin: 0px 20px;
        height: 60px;
    }

    .sponsor{
        display: flex;
        padding-left: 0px;
    }

    .redesSociales{
        margin: 0px;
    }
}

/*Plantilla mobile*/

.gridPlantilla{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
}

.contenedorPlantilla{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "introduccionPlantilla"
    "tabla"
    "canchaContenedor"
    "dtTitulo"
    "dtTexto"
    "dtFoto"
    "publicidadTexto"
    "publicidad"
    ;
}

.introduccionPlantilla{
    grid-area: introduccionPlantilla;
}

.tabla{
    grid-area: tabla;
}

.canchaContenedor{
    grid-area: canchaContenedor;
}

.dtTitulo{
    grid-area: dtTitulo;
}

.dtTexto{
    grid-area: dtTexto;
}

.dtFoto{
    grid-area: dtFoto;
}

h4{
    color: black;
    padding: 40px;
    text-align: center;
    margin: 20px 40px 0px 40px;
    font-size: 30px;
    font-family: 'Staatliches', cursive; 
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 15px;
    padding: 5px;
}

.datos{
    background-color: #858585;
    font-family: 'Staatliches', cursive;
    font-size: 10px;
    line-height: 10px;
    text-align: center;
}

td{
    font-family: 'Staatliches', cursive;
    font-size: 10px;
    line-height: 10px;
    text-align: center;
}

td a{
    color:black !important;
    padding: 0px;
    font-size: 10px;
    text-decoration: none;
    font-family: 'Staatliches', cursive;
}

.tabla{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 100px;
}

td a:hover{
    color:#DA1212 !important;
}

.cancha{
    width: 200px;
    height: 200px;
}

.canchaContenedor{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.camisetaPo{
    position: absolute;
    top: 147px;
    left: 75px;
    height: 40px;
}


.camisetaLatIzq{
    position: absolute;
    top: 98px;
    left: 18px;
    height: 40px;
}


.camisetaLatDer{
    position: absolute;
    top: 98px;
    left: 132px;
    height: 40px;
}

.camisetaCenIzq{
    position: absolute;
    top: 111px;
    left: 45px;
    height: 40px;
}

.camisetaCenDer{
    position: absolute;
    top: 111px;
    left: 104px;
    height: 40px;
}

.camisetaMedDef{
    position: absolute;
    top: 79px;
    left: 75px;
    height: 40px;
}

.camisetaMedIzq{
    position: absolute;
    top: 47px;
    left: 42px;
    height: 40px;
}

.camisetaMedDer{
    position: absolute;
    top: 47px;
    left: 107px;
    height: 40px;
}

.camisetaExtIzq{
    position: absolute;
    top: 17px;
    left: 30px;
    height: 40px;
}

.camisetaExtDer{
    position: absolute;
    top: 17px;
    left: 120px;
    height: 40px;
}

.camisetaDelCen{
    position: absolute;
    top: 0px;
    left: 75px;
    height: 40px;
}

.dtTexto{
        font-size: 10px;
}

.dtFoto{   
    height: 160px;
    margin-right: auto;
    margin-left: auto;
}

/*Plantilla 992px*/

@media (min-width: 992px){
    .contenedorPlantilla{
        grid-area: main;
        display: grid;
        grid-template-columns: 80% 20%;
        grid-template-areas: 
        "introduccionPlantilla liveTwitter"
        "tabla                 liveTwitter"
        "canchaContenedor      liveTwitter"
        "dtTitulo              liveTwitter"
        "dtTexto               liveTwitter"
        "dtFoto                liveTwitter"
        ;
    }

    .tabla{
        margin-top: 50px;
    }

    .jugadores{
        font-size: 30px;
        line-height: 30px;
    }
    
    td{
        font-family: 'Staatliches', cursive;
        font-size: 25px;
        line-height: 25px;
        text-align: center;
        
    }
    
    td a{
        color:black;
        padding: 0px;
        font-size: 25px;
    }

    .cancha{
        width: 400px;
        height: 400px;
    }

    .camisetaPo{
        position: absolute;
        top: 311px;
        left: 168px;
        height: 55px;
    }

    .camisetaLatIzq{
        position: absolute;
        top: 212px;
        left: 55px;
        height: 55px;
    }
    
    .camisetaLatDer{
        position: absolute;
        top: 212px;
        left: 285px;
        height: 55px;
    }
    
    .camisetaCenIzq{
        position: absolute;
        top: 240px;
        left: 110px;
        height: 55px;
    }
    
    .camisetaCenDer{
        position: absolute;
        top: 240px;
        left: 225px;
        height: 55px;
    }
    
    .camisetaMedDef{
        position: absolute;
        top: 176px;
        left: 168px;
        height: 55px;
    }
    
    .camisetaMedIzq{
        position: absolute;
        top: 112px;
        left: 106px;
        height: 55px;
    }
    
    .camisetaMedDer{
        position: absolute;
        top: 112px;
        left: 229px;
        height: 55px;
    }
    
    .camisetaExtIzq{
        position: absolute;
        top: 52px;
        left: 78px;
        height: 55px
    }
    
    .camisetaExtDer{
        position: absolute;
        top: 52px;
        left: 260px;
        height: 55px
    }
    
    .camisetaDelCen{
        position: absolute;
        top: 12px;
        left: 168px;
        height: 55px;
    }

    .dtFoto{
        height: 280px;
        margin: 55px;
        z-index: -1;
        margin-right: auto;
        margin-left: auto;
    }

}


/*Historia mobile*/

.gridHistoria{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
}

.contenedorHistoria{
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "tituloHistoria"
    "textoHistoria"
    "equipoOld"
    "tituloEstadio"
    "textoEstadio"
    "estadio"
    "tituloTrofeos"
    "textoTrofeos"
    "trofeos"
    "publicidadTexto"
    "publicidad"
    ;
}

.tituloHistoria{
    grid-area: tituloHistoria;
}

.textoHistoria{
    grid-area: textoHistoria;
}

.equipoOld{
    grid-area: equipoOld;
}

.tituloEstadio{
    grid-area: tituloEstadio;
}

.textoEstadio{
    grid-area: textoEstadio;
}

.estadio{
    grid-area: estadio;
}

.tituloTrofeos{
    grid-area: tituloTrofeos;
}

.textoTrofeos{
    grid-area: textoTrofeos;
}

.trofeos{
    grid-area: trofeos;
}

.equipoOld{
    height: 100%;
    width: 265px;
    margin-left: auto;
    margin-right: auto;
}

.estadio{
    display: flex;
    justify-content: center;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

.trofeos{
    display: flex;
    justify-content: center;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}



/*Historia 992px*/

@media (min-width: 992px){
    .contenedorHistoria{
        grid-area: main;
        display: grid;
        grid-template-columns: 80% 20%;
        grid-template-areas: 
        "tituloHistoria liveTwitter"
        "textoHistoria  liveTwitter"
        "equipoOld      liveTwitter"
        "tituloEstadio  liveTwitter"
        "textoEstadio   liveTwitter"
        "estadio        liveTwitter"
        "tituloTrofeos  liveTwitter"
        "textoTrofeos   liveTwitter"
        "trofeos        liveTwitter"
        ;
    }

    .trofeos, .estadio{
        height: 280px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }

    .equipoOld{
        height: 100%;
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }

        

}


/*HOF mobile*/

.gridHof{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
}

.contenedorHof{
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "tituloHof"
    "textoHof"
    "tituloJugados"
    "tablaJugados"
    "tituloGol"
    "tablaGol"
    "tituloFerguson"
    "textoFerguson"
    "fotoFerguson"
    "publicidadTexto"
    "publicidad"
    ;
}

.tituloHof{
    grid-area: tituloHof;
}

.textoHof{
    grid-area: textoHof;
}

.tituloJugados{
    grid-area: tituloJugados;
}

.tablaJugados{
    grid-area: tablaJugados;
}

.tituloGol{
    grid-area: tituloGol;
}

.tablaGol{
    grid-area: tablaGol;
}

.tituloFerguson{
    grid-area: tituloFerguson;   
}

.textoFerguson{
    grid-area: textoFerguson;
}

.fotoFerguson{
    grid-area: fotoFerguson;
}

.tablaJugados{
    margin: 15px;
}

.tablaGol{
    margin: 15px;
}

.fotoFerguson{
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}


h5{
    color: black;
    padding: 15px;
    text-align: center;
    margin: 0;
    font-size: 25px;
    font-family: 'Staatliches', cursive;
}

td{
    padding: 4px;
}

/*HOF 992px*/

@media (min-width: 992px){
    .contenedorHof{
        grid-area: main;
        display: grid;
        grid-template-columns: 80% 20%;
        grid-template-areas: 
        "tituloHof      liveTwitter"
        "textoHof       liveTwitter"
        "tituloJugados  liveTwitter"
        "tablaJugados   liveTwitter"
        "tituloGol      liveTwitter"
        "tablaGol       liveTwitter"
        "tituloFerguson liveTwitter"
        "textoFerguson  liveTwitter"
        "fotoFerguson   liveTwitter"
        ;
    }

    h5{
        margin-top: 50px;
    }

    .fotoFerguson{
        height: 250px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }

}


/*Contactanos mobile*/

.gridContactanos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
}

.contenedorContactanos{
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "tituloContactanos"
    "textoContactanos"
    "formulario"
    "publicidadTexto"
    "publicidad"
    ;
}

.tituloContactanos{
    grid-area: tituloContactanos;
}

.textoContactanos{
    grid-area: textoContactanos;
}

.formulario{
    grid-area: formulario;
}

.formulario{
    padding: 10px;
    background: #D1D1D1;
    border-radius: 10px;
    width: 245px;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
}

textarea{
    width: 210px;
    height: 200px;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

label{
    font-size: 25px;
    font-family: 'Staatliches', cursive;
}

input{
        margin: 5px;
        padding: 10px 10px;
        height: 32px;
        font-size: 15px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: bold;
}

.formularioNombre{
    width: 80%;
}

.formularioEdad{
    width: 30%;
}

.formularioEmail{
    width: 80%;
}

.boton{
    padding: 5px;
}



/*Contactanos 992px*/

@media (min-width: 992px){
    .contenedorContactanos{
        grid-area: main;
        display: grid;
        grid-template-columns: 80% 20%;
        grid-template-areas: 
        "tituloContactanos liveTwitter"
        "textoContactanos  liveTwitter"
        "formulario        liveTwitter"
        ;
    }

    .formulario{
        width: 760px;
    }

    textarea{
        width: 715px;
        height: 600px;
    }

    .formularioEmail{
        width: 80%;
    }

    .formularioNombre{
        width: 80%;
    }

    .formularioEdad{
        width: 70px;
    }

}

