.contenedorContactanos{
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "tituloContactanos"
    "textoContactanos"
    "formulario"
    "publicidadTexto"
    "publicidad"
    ;
}

.tituloContactanos{
    grid-area: tituloContactanos;
}

.textoContactanos{
    grid-area: textoContactanos;
}

.formulario{
    grid-area: formulario;
}

form{
    padding: 10px;
    background: #D1D1D1;
    border-radius: 10px;
    max-width: 320px;
    margin: 15px;
    @include centrarImagen      
}

textarea{
    width: 300px;
    height: 200px;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    label{
        font-size: 25px;
        font-family: $ffTitulos;
        input{
            margin: 5px;
            padding: 10px 10px;
            height: 32px;
            font-size: 15px;
            font-family: $ffTextos;
            font-weight: bold;
        }
    }
} 

.formularioNombre{
    width: 80%;
}

.formularioEdad{
    width: 30%;
}

.formularioEmail{
    width: 80%;
}

.boton{
    padding: 5px;
}

@media (min-width: 992px){
    .contenedorContactanos{
        grid-area: main;
        display: grid;
        grid-template-columns: 80% 20%;
        grid-template-areas: 
        "tituloContactanos liveTwitter"
        "textoContactanos  liveTwitter"
        "formulario        liveTwitter"
        ;
    }

    form{
        max-width: 740px;
    }

    textarea{
        width: 715px;
        height: 600px;
    }

    .formularioEmail{
        width: 80%;
    }

    .formularioNombre{
        width: 80%;
    }

    .formularioEdad{
        width: 70px;
    }

}

