.contenedorContactanos{
    grid-template-areas: 
    "tituloContactanos"
    "textoContactanos"
    "formulario"
    "publicidadTexto"
    "publicidad"
    ;
    @include desktop {
            display: grid;
            grid-template-columns: 75% 25%;
            grid-template-areas: 
            "tituloContactanos liveTwitter"
            "textoContactanos  liveTwitter"
            "formulario        liveTwitter"
            ;
        }
}

.tituloContactanos{
    grid-area: tituloContactanos;
}

.textoContactanos{
    grid-area: textoContactanos;
}

.formulario{
    grid-area: formulario;
}

form{
    padding: 10px;
    background: #EEEEEE;
    border-radius: 10px;
    max-width: 320px;
    margin: 15px;
    margin-right: auto;
    margin-left: auto;   
    border-color: rgb(179, 179, 179);
    border-style: solid;
    border-width: 1px;  
}

textarea{
    width: 300px;
    height: 200px;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    label{
        font-size: 25px;
        font-family: $ffTitulos;
        input{
            margin: 5px;
            padding: 10px 10px;
            height: 32px;
            font-size: 20px;
            font-family: $ffTextos;
            font-weight: bold;
        }
    }
} 

.formularioNombre{
    width: 80%;
}

.formularioEdad{
    width: 30%;
}

.formularioEmail{
    width: 80%;
}

.boton{
    padding: 5px;
}

@include tablet{
    form{
        max-width: 600px;
    }

    textarea{
        width: 575px;
    }
}

@include desktop{
    
    form{
        max-width: 625px;  
    }

    textarea{
        width: 600px;
        height: 200px;
    }

    .formularioEmail{
        width: 80%;
    }

    .formularioNombre{
        width: 80%;
    }

    .formularioEdad{
        width: 70px;
    }

}

