.contenedorHof{
    grid-template-areas: 
    "tituloHof"
    "textoHof"
    "tituloJugados"
    "tablaJugados"
    "tituloGol"
    "tablaGol"
    "tituloFerguson"
    "textoFerguson"
    "fotoFerguson"
    "publicidadTexto"
    "publicidad"
    ;
    @include desktop {
            display: grid;
            grid-template-columns: 75% 25%;
            grid-template-areas: 
            "tituloHof      liveTwitter"
            "textoHof       liveTwitter"
            "tituloJugados  liveTwitter"
            "tablaJugados   liveTwitter"
            "tituloGol      liveTwitter"
            "tablaGol       liveTwitter"
            "tituloFerguson liveTwitter"
            "textoFerguson  liveTwitter"
            "fotoFerguson   liveTwitter"
            ;
        }
}

.tituloHof{
    grid-area: tituloHof;
}

.textoHof{
    grid-area: textoHof;
}

.tituloJugados{
    grid-area: tituloJugados;
}

.tablaJugados{
    grid-area: tablaJugados;
}

.tituloGol{
    grid-area: tituloGol;
}

.tablaGol{
    grid-area: tablaGol;
}

.tituloFerguson{
    grid-area: tituloFerguson;   
}

.textoFerguson{
    grid-area: textoFerguson;
}

.fotoFerguson{
    grid-area: fotoFerguson;
}

h5{
    padding: 15px;
    text-align: center;
    margin: 0;
    font-size: 20px;
    font-family: $ffTitulos;
}

table{
    margin: 0 5px 0 5px;
}

table tr td{
    font-size: 11px;
}

@include tablet{
    
    table{
        margin: 0 50px 0 50px;
    }

    table tr td {
        font-size: 15px;
    }
}

@include desktop{
    h5{
        margin-top: 50px;
    }

    table{
        margin: 0 100px 0 100px;
    }   

    .fotoFerguson{
        margin-left: auto;
        margin-right: auto;
        max-width: 900px !important;
    }

    .textoFerguson{
        text-align: start;
    }
}





