.contenedorHistoria{
    grid-template-areas: 
    "tituloHistoria"
    "textoHistoria"
    "equipoOld"
    "tituloEstadio"
    "textoEstadio"
    "estadio"
    "tituloTrofeos"
    "textoTrofeos"
    "trofeos"
    "publicidadTexto"
    "publicidad"
    ;
    @include desktop{

            display: grid;
            grid-template-columns: 80% 20%;
            grid-template-areas: 
            "tituloHistoria liveTwitter"
            "textoHistoria  liveTwitter"
            "equipoOld      liveTwitter"
            "tituloEstadio  liveTwitter"
            "textoEstadio   liveTwitter"
            "estadio        liveTwitter"
            "tituloTrofeos  liveTwitter"
            "textoTrofeos   liveTwitter"
            "trofeos        liveTwitter"
            ;
        }
    }


.tituloHistoria{
    grid-area: tituloHistoria;
}

.textoHistoria{
    grid-area: textoHistoria;
}

.equipoOld{
    grid-area: equipoOld;
}

.tituloEstadio{
    grid-area: tituloEstadio;
}

.textoEstadio{
    grid-area: textoEstadio;
}

.estadio{
    grid-area: estadio;
}

.tituloTrofeos{
    grid-area: tituloTrofeos;
}

.textoTrofeos{
    grid-area: textoTrofeos;
}

.trofeos{
    grid-area: trofeos;
}


