.contenedorHistoria{
    grid-template-areas: 
    "tituloHistoria"
    "textoHistoria1"
    "equipoOld1"
    "textoHistoria2"
    "equipoOld2"
    "textoHistoria3"
    "equipoOld3"
    "tituloEstadio"
    "textoEstadio"
    "estadio"
    "tituloTrofeos"
    "textoTrofeos"
    "trofeos"
    "publicidadTexto"
    "publicidad"
    ;
    @include desktop{
            display: grid;
            grid-template-columns: 50% 30% 20%;
            grid-template-areas: 
            "tituloHistoria tituloHistoria liveTwitter"
            "textoHistoria1 equipoOld1     liveTwitter"
            "textoHistoria2 equipoOld2     liveTwitter"
            "textoHistoria3 equipoOld3     liveTwitter"
            "tituloEstadio  tituloEstadio  liveTwitter"
            "textoEstadio   textoEstadio   liveTwitter"
            "estadio        estadio        liveTwitter"
            "tituloTrofeos  tituloTrofeos  liveTwitter"
            "textoTrofeos   textoTrofeos   liveTwitter"
            "trofeos        trofeos        liveTwitter"
            ;
        }

        .texto2{
            margin: 0;
            text-align: start;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .estadio{
            margin-left: auto;
            margin-right: auto;
            max-width: 1050px !important;
        }

        .trofeos{
            margin-left: auto;
            margin-right: auto;
            max-width: 1050px !important;
        }
    }


.tituloHistoria{
    grid-area: tituloHistoria;
}

.textoHistoria1{
    grid-area: textoHistoria1;
}

.textoHistoria2{
    grid-area: textoHistoria2;
}

.textoHistoria3{
    grid-area: textoHistoria3;
}

.equipoOld1{
    grid-area: equipoOld1;
}

.equipoOld2{
    grid-area: equipoOld2;
}

.equipoOld3{
    grid-area: equipoOld3;
}

.tituloEstadio{
    grid-area: tituloEstadio;
}

.textoEstadio{
    grid-area: textoEstadio;
}

.estadio{
    grid-area: estadio;
}

.tituloTrofeos{
    grid-area: tituloTrofeos;
}

.textoTrofeos{
    grid-area: textoTrofeos;
}

.trofeos{
    grid-area: trofeos;
}

.equipoOld1{
    margin: 20px 0 20px 0;
}

.equipoOld2{
    margin: 20px 0 20px 0;
}

.equipoOld3{
    margin: 20px 0 20px 0;
}

