.gridIndex{
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
}

header{
    grid-area: header;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

.contenedorIndex{     
    grid-template-areas: 
    "introduccion"
    "video"
    "publicidadTexto"
    "publicidad"
    ;
    @include desktop {
            display: grid; 
            grid-template-columns: 80% 20%;
            grid-template-areas: 
            "introduccion    liveTwitter"
            "video           liveTwitter"
            ;
        }
    }

.introduccion{
    grid-area: introduccion;
}

.video{
    grid-area: video;
}

.publicidadTexto{
    grid-area: publicidadTexto;
}

.publicidad{
    grid-area: publicidad;
}

.liveTwitter{
    grid-area: liveTwitter;
}

h1{
    text-align: center;
    font-size: $tamañoTituloMobile;
    font-family: $ffTitulos;
    margin: $marginTituloMobile;
    padding: 40px;
}

p{
    font-family: $ffTextos;
    padding: 15px;
    text-align: start;
    margin: $marginTextoMobile;
    font-size: $tamañoTextoMobile;
}

.videoIntro{
    margin-left: auto;
    margin-right: auto;
    border: 4px solid black;
    border-radius: 15px;
    display: block;
    margin-top: 37px;
    width: 280px;
}

.liveTwitter{
    display: none;
}

.publicidadTexto{
    text-align: center;
    margin-top: 100px;
    font-family: $ffTitulos;
}

.publicidad{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .iconoAside{
        height: 50px;
        width: 50px;
    }
}


@include tablet{
    p{
        font-size: $tamañoTextoTablet;
        margin: $marginTextoTablet;
    }

    .videoIntro{
        margin-right: auto;
        margin-left: auto;
        border: 12px solid black;
        border-radius: 10px;
        display: block;
        margin-top: 37px;
        height: 280px;
        width: 570px;
    }
}

@include desktop{

    h1{
        font-size: $tamañoTituloDesktop;
    }

    p{
        font-size: $tamañoTextoDesktop;
        margin: $marginTextoDesktop;
        text-indent: 20px;
    }

    .publicidad, .publicidadTexto, .pasarela{
        display: none;
    }

    .liveTwitter{
        display: flex;
        margin: 10px 5px;
    }

    .videoIntro{
        margin-right: auto;
        margin-left: auto;
        border: 16px solid black;
        border-radius: 15px;
        display: block;
        margin-top: 37px;
        height: 310px;
        width: 600px;
    }
    
}