.rojo{
    background-color: $colorRojo;
}

.logo{
    height: 50px;
    width: 50px;
}

h6{
    display: none;
}

.navBar{
    ul{
        li{
            list-style: none;
            .navbar-texto{
                font-size: $tamañoTextoNav;
                font-family: $ffTitulos;
            }
        }
    }
}

.nav-link.active{
    color: white !important;
    &:hover{
        background-color: $hoverRojo
    }
    &:active{
        color: black !important;
    }
}

.navbar-light .navbar-toggler-icon{
    background-image: url("../assets/hamburger.svg");
}    

.navbar-toggler {
    padding: 0.25rem 0.75rem;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

.navbar-light .navbar-toggler{
    border-color: black;
}

@include desktop{
    .logo{
        height: 150px;
        width: 150px;
    }
    .navbar-texto{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h6{
        display: flex;
        color: white;
        font-size: $ffTitulos;
    }
    .flex{
        @include flexCenter;
    }
}

