.contenedorPlantilla{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "introduccionPlantilla"
    "tabla"
    "canchaContenedor"
    "dtTitulo"
    "dtTexto"
    "dtFoto"
    "publicidadTexto"
    "publicidad"
    ;
}

.introduccionPlantilla{
    grid-area: introduccionPlantilla;
}

.tabla{
    grid-area: tabla;
}

.canchaContenedor{
    grid-area: canchaContenedor;
}

.dtTitulo{
    grid-area: dtTitulo;
}

.dtTexto{
    grid-area: dtTexto;
}

.dtFoto{
    grid-area: dtFoto;
}

h4{
    text-align: center;
    font-size: 25px;
    font-family: $ffTitulos;
    margin: 20px 40px 0px 40px;
    padding: 40px;
}

.tabla{
    @include flexCenter;
    margin-bottom: 100px;
    .datos{
        background-color: #858585;
        font-family: $ffTitulos;
        font-size: 10px;
        line-height: 10px;
        text-align: center;
    }   
}

table, tr, td{
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 15px;
    padding: 5px;  
    td{
        font-family: $ffTitulos;
        font-size: 10px;
        line-height: 10px;
        width: 150px;
        text-align: center;
        a{
            color:black;
            padding: 0px;
            font-size: 10px;
            text-decoration: none;
            font-family: $ffTitulos;
            &:hover{
                color:#DA1212;
            }
        }        
    }   
}

.canchaContenedor{
    position: relative;
    display: block;
    @include centrarImagen;
    .cancha{
        width: 200px;
        height: 200px;
    }
}

.jugadorPlantilla{
    @include jugadoresFoto;
}

.camisetaPo{
    position: absolute;
    top: 147px;
    left: 75px;
    height: 40px;
}

.camisetaLatIzq{
    position: absolute;
    top: 98px;
    left: 18px;
    height: 40px;
}

.camisetaLatDer{
    position: absolute;
    top: 98px;
    left: 132px;
    height: 40px;
}

.camisetaCenIzq{
    position: absolute;
    top: 111px;
    left: 45px;
    height: 40px;
}

.camisetaCenDer{
    position: absolute;
    top: 111px;
    left: 104px;
    height: 40px;
}

.camisetaMedDef{
    position: absolute;
    top: 79px;
    left: 75px;
    height: 40px;
}

.camisetaMedIzq{
    position: absolute;
    top: 47px;
    left: 42px;
    height: 40px;
}

.camisetaMedDer{
    position: absolute;
    top: 47px;
    left: 107px;
    height: 40px;
}

.camisetaExtIzq{
    position: absolute;
    top: 17px;
    left: 30px;
    height: 40px;
}

.camisetaExtDer{
    position: absolute;
    top: 17px;
    left: 120px;
    height: 40px;
}

.camisetaDelCen{
    position: absolute;
    top: 0px;
    left: 75px;
    height: 40px;
}

.dtFoto{   
    height: 175px;
    @include centrarImagen;
}

@media (min-width: 992px){
    .contenedorPlantilla{
        display: grid;
        grid-template-columns: 80% 20%;
        grid-template-areas: 
        "introduccionPlantilla liveTwitter"
        "tabla                 liveTwitter"
        "canchaContenedor      liveTwitter"
        "dtTitulo              liveTwitter"
        "dtTexto               liveTwitter"
        "dtFoto                liveTwitter"
        ;
    }

    .tabla{
        margin-top: 50px;
        td{
            font-family: $ffTitulos;
            font-size: 18px;
            line-height: 25px;
            text-align: center;
            a{
                padding: 0px;
                font-size: 18px;
            }
        }
    }

    .canchaContenedor{
        position: relative;
        display: block;
        @include centrarImagen;
        .cancha{
            width: 400px;
            height: 400px;
        }
    }

    .camisetaPo{
        position: absolute;
        top: 311px;
        left: 168px;
        height: 55px;
    }

    .camisetaLatIzq{
        position: absolute;
        top: 212px;
        left: 55px;
        height: 55px;
    }
    
    .camisetaLatDer{
        position: absolute;
        top: 212px;
        left: 285px;
        height: 55px;
    }
    
    .camisetaCenIzq{
        position: absolute;
        top: 240px;
        left: 110px;
        height: 55px;
    }
    
    .camisetaCenDer{
        position: absolute;
        top: 240px;
        left: 225px;
        height: 55px;
    }
    
    .camisetaMedDef{
        position: absolute;
        top: 176px;
        left: 168px;
        height: 55px;
    }
    
    .camisetaMedIzq{
        position: absolute;
        top: 112px;
        left: 106px;
        height: 55px;
    }
    
    .camisetaMedDer{
        position: absolute;
        top: 112px;
        left: 229px;
        height: 55px;
    }
    
    .camisetaExtIzq{
        position: absolute;
        top: 52px;
        left: 78px;
        height: 55px
    }

    .camisetaExtDer{
        position: absolute;
        top: 52px;
        left: 260px;
        height: 55px
    }  

    .camisetaDelCen{
        position: absolute;
        top: 12px;
        left: 168px;
        height: 55px;
    }

    .dtFoto{
        height: 280px;
        @include centrarImagen;
    }
}

