.contenedorPlantilla{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "introduccionPlantilla"
    "tabla"
    "canchaContenedor"
    "dtTitulo"
    "dtTexto"
    "dtFoto"
    "publicidadTexto"
    "publicidad"
    ;
}

.introduccionPlantilla{
    grid-area: introduccionPlantilla;
}

.tabla{
    grid-area: tabla;
}

.canchaContenedor{
    grid-area: canchaContenedor;
}

.dtTitulo{
    grid-area: dtTitulo;
}

.dtTexto{
    grid-area: dtTexto;
}

.dtFoto{
    grid-area: dtFoto;
}

h4{
    @extend h1;
}

.dtFoto{   
    height: 175px;
    margin-right: auto;
    margin-left: auto; 
}

@media (min-width: 992px){
    .contenedorPlantilla{
        display: grid;
        grid-template-columns: 80% 20%;
        grid-template-areas: 
        "introduccionPlantilla liveTwitter"
        "tabla                 liveTwitter"
        "canchaContenedor      liveTwitter"
        "dtTitulo              liveTwitter"
        "dtTexto               liveTwitter"
        "dtFoto                liveTwitter"
        ;
    }

    .dtFoto{
        height: 280px;  
    }
}

