@mixin flexCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin centrarImagen{
    margin-right: auto;
    margin-left: auto;
}

@mixin jugadoresFoto{
    margin-left: auto;
    margin-right: auto;
    width: 130px;
    height: 130px;
    margin-top: 10px;
}
