.canchaContenedor{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    .cancha{
        width: 280px;
        height: 280px;
    }
}

.color{
    &:hover{
        background-color: #da121246;
        padding: 5px;
    }
}

.jugadorPlantilla{
    margin-left: auto;
    margin-right: auto;
    width: 270px;
    height: 270px;
    margin-top: 10px;
}

.camisetaPo{
    position: absolute;
    top: 213px;
    left: 113px;
    height: $tamañoCamisetaMobile;
}

.camisetaLatIzq{
    position: absolute;
    top: 145px;
    left: 30px;
    height: $tamañoCamisetaMobile;
}

.camisetaLatDer{
    position: absolute;
    top: 145px;
    left: 196px;
    height: $tamañoCamisetaMobile;
}

.camisetaCenIzq{
    position: absolute;
    top: 163px;
    left: 73px;
    height: $tamañoCamisetaMobile;
}

.camisetaCenDer{
    position: absolute;
    top: 163px;
    left: 152px;
    height: $tamañoCamisetaMobile;
}

.camisetaMedDef{
    position: absolute;
    top: 117px;
    left: 113px;
    height: $tamañoCamisetaMobile;
}

.camisetaMedIzq{
    position: absolute;
    top: 73px;
    left: 68px;
    height: $tamañoCamisetaMobile;
}

.camisetaMedDer{
    position: absolute;
    top: 73px;
    left: 157px;
    height: $tamañoCamisetaMobile;
}

.camisetaExtIzq{
    position: absolute;
    top: 32px;
    left: 49px;
    height: $tamañoCamisetaMobile;
}

.camisetaExtDer{
    position: absolute;
    top: 32px;
    left: 178px;
    height: $tamañoCamisetaMobile;
}

.camisetaDelCen{
    position: absolute;
    top: 4px;
    left: 113px;
    height: $tamañoCamisetaMobile;
}

@include tablet{
    .jugadorPlantilla{
        width: 400px;
        height: 400px;
    }
}

@include desktop{
    
    .canchaContenedor{
        .cancha{
            width: 400px;
            height: 400px;
        }
    }

    .camisetaPo{
        position: absolute;
        top: 311px;
        left: 168px;
        height: $tamañoCamisetaDesktop;
    }

    .camisetaLatIzq{
        position: absolute;
        top: 212px;
        left: 55px;
        height: $tamañoCamisetaDesktop;
    }
    
    .camisetaLatDer{
        position: absolute;
        top: 212px;
        left: 285px;
        height: $tamañoCamisetaDesktop;
    }
    
    .camisetaCenIzq{
        position: absolute;
        top: 240px;
        left: 110px;
        height: $tamañoCamisetaDesktop;
    }
    
    .camisetaCenDer{
        position: absolute;
        top: 240px;
        left: 225px;
        height: $tamañoCamisetaDesktop;
    }
    
    .camisetaMedDef{
        position: absolute;
        top: 176px;
        left: 168px;
        height: $tamañoCamisetaDesktop;
    }
    
    .camisetaMedIzq{
        position: absolute;
        top: 112px;
        left: 106px;
        height: $tamañoCamisetaDesktop;
    }
    
    .camisetaMedDer{
        position: absolute;
        top: 112px;
        left: 229px;
        height: $tamañoCamisetaDesktop;
    }
    
    .camisetaExtIzq{
        position: absolute;
        top: 52px;
        left: 78px;
        height: $tamañoCamisetaDesktop;
    }

    .camisetaExtDer{
        position: absolute;
        top: 52px;
        left: 260px;
        height: $tamañoCamisetaDesktop;
    }  

    .camisetaDelCen{
        position: absolute;
        top: 12px;
        left: 168px;
        height: $tamañoCamisetaDesktop;
    }

    .jugadorPlantilla{
        width: 450px;
        height: 450px;
    }
}