.canchaContenedor{
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
    .cancha{
        width: 200px;
        height: 200px;
    }
}

.jugadorPlantilla{
    margin-left: auto;
    margin-right: auto;
    width: 130px;
    height: 130px;
    margin-top: 10px;
}

.camisetaPo{
    position: absolute;
    top: 147px;
    left: 75px;
    height: 40px;
}

.camisetaLatIzq{
    position: absolute;
    top: 98px;
    left: 18px;
    height: 40px;
}

.camisetaLatDer{
    position: absolute;
    top: 98px;
    left: 132px;
    height: 40px;
}

.camisetaCenIzq{
    position: absolute;
    top: 111px;
    left: 45px;
    height: 40px;
}

.camisetaCenDer{
    position: absolute;
    top: 111px;
    left: 104px;
    height: 40px;
}

.camisetaMedDef{
    position: absolute;
    top: 79px;
    left: 75px;
    height: 40px;
}

.camisetaMedIzq{
    position: absolute;
    top: 47px;
    left: 42px;
    height: 40px;
}

.camisetaMedDer{
    position: absolute;
    top: 47px;
    left: 107px;
    height: 40px;
}

.camisetaExtIzq{
    position: absolute;
    top: 17px;
    left: 30px;
    height: 40px;
}

.camisetaExtDer{
    position: absolute;
    top: 17px;
    left: 120px;
    height: 40px;
}

.camisetaDelCen{
    position: absolute;
    top: 0px;
    left: 75px;
    height: 40px;
}

@media (min-width: 992px){
    .canchaContenedor{
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        .cancha{
            width: 400px;
            height: 400px;
        }
    }

    .camisetaPo{
        position: absolute;
        top: 311px;
        left: 168px;
        height: 55px;
    }

    .camisetaLatIzq{
        position: absolute;
        top: 212px;
        left: 55px;
        height: 55px;
    }
    
    .camisetaLatDer{
        position: absolute;
        top: 212px;
        left: 285px;
        height: 55px;
    }
    
    .camisetaCenIzq{
        position: absolute;
        top: 240px;
        left: 110px;
        height: 55px;
    }
    
    .camisetaCenDer{
        position: absolute;
        top: 240px;
        left: 225px;
        height: 55px;
    }
    
    .camisetaMedDef{
        position: absolute;
        top: 176px;
        left: 168px;
        height: 55px;
    }
    
    .camisetaMedIzq{
        position: absolute;
        top: 112px;
        left: 106px;
        height: 55px;
    }
    
    .camisetaMedDer{
        position: absolute;
        top: 112px;
        left: 229px;
        height: 55px;
    }
    
    .camisetaExtIzq{
        position: absolute;
        top: 52px;
        left: 78px;
        height: 55px
    }

    .camisetaExtDer{
        position: absolute;
        top: 52px;
        left: 260px;
        height: 55px
    }  

    .camisetaDelCen{
        position: absolute;
        top: 12px;
        left: 168px;
        height: 55px;
    }
}